<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slice01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{156,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,154}}</string>
                <key>sourceSize</key>
                <string>{156,154}</string>
            </dict>
            <key>slice02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,785},{150,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,155}}</string>
                <key>sourceSize</key>
                <string>{150,155}</string>
            </dict>
            <key>slice03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,192},{41,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,4}}</string>
                <key>sourceSize</key>
                <string>{41,4}</string>
            </dict>
            <key>slice04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{224,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,62}}</string>
                <key>sourceSize</key>
                <string>{224,62}</string>
            </dict>
            <key>slice05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,227},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>slice06_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,714},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,30}</string>
            </dict>
            <key>slice07_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,368},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>slice08_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,937},{73,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,94}}</string>
                <key>sourceSize</key>
                <string>{73,94}</string>
            </dict>
            <key>slice09_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,682},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>slice10_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,368},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>slice11_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,84},{16,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,43}}</string>
                <key>sourceSize</key>
                <string>{16,43}</string>
            </dict>
            <key>slice12_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{266,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,64}}</string>
                <key>sourceSize</key>
                <string>{266,64}</string>
            </dict>
            <key>slice13_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{229,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,64}}</string>
                <key>sourceSize</key>
                <string>{229,64}</string>
            </dict>
            <key>slice14_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,879},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>slice15_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,179},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{34,46}</string>
            </dict>
            <key>slice16_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,258},{38,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,141}}</string>
                <key>sourceSize</key>
                <string>{38,141}</string>
            </dict>
            <key>slice17_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{155,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,159}}</string>
                <key>sourceSize</key>
                <string>{155,159}</string>
            </dict>
            <key>slice18_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,725},{152,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,68}}</string>
                <key>sourceSize</key>
                <string>{152,68}</string>
            </dict>
            <key>slice19_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,401},{100,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,105}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>slice20_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,778},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>slice21_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,508},{108,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,98}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>slice22_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,937},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{82,81}</string>
            </dict>
            <key>slice23_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,618},{83,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,97}}</string>
                <key>sourceSize</key>
                <string>{83,97}</string>
            </dict>
            <key>slice24_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,667},{56,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,104}}</string>
                <key>sourceSize</key>
                <string>{56,104}</string>
            </dict>
            <key>slice25_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,937},{85,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,36}}</string>
                <key>sourceSize</key>
                <string>{85,36}</string>
            </dict>
            <key>slice26_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{100,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,58}}</string>
                <key>sourceSize</key>
                <string>{100,58}</string>
            </dict>
            <key>slice27_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,347},{10,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,31}}</string>
                <key>sourceSize</key>
                <string>{10,31}</string>
            </dict>
            <key>slice28_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,682},{93,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,92}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>slice29_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,459},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>slice30_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,104},{195,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,113}}</string>
                <key>sourceSize</key>
                <string>{195,113}</string>
            </dict>
            <key>slice31_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,113},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>slice32_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,659},{126,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,21}}</string>
                <key>sourceSize</key>
                <string>{126,21}</string>
            </dict>
            <key>slice33_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,281},{124,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,64}}</string>
                <key>sourceSize</key>
                <string>{124,64}</string>
            </dict>
            <key>slice34_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,577},{133,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,80}}</string>
                <key>sourceSize</key>
                <string>{133,80}</string>
            </dict>
            <key>slice35_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,84},{10,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,15}}</string>
                <key>sourceSize</key>
                <string>{10,15}</string>
            </dict>
            <key>slice36_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,763},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>slice37_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,737},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{14,24}</string>
            </dict>
            <key>slice38_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,659},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>slice39_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,711},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{14,24}</string>
            </dict>
            <key>slice40_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,175},{8,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,15}}</string>
                <key>sourceSize</key>
                <string>{8,15}</string>
            </dict>
            <key>slice41_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,685},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{14,24}</string>
            </dict>
            <key>slice42_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,175},{113,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,104}}</string>
                <key>sourceSize</key>
                <string>{113,104}</string>
            </dict>
            <key>slice43_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,301},{112,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,102}}</string>
                <key>sourceSize</key>
                <string>{112,102}</string>
            </dict>
            <key>slice44_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,347},{110,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,111}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>slice45_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{391,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,27}}</string>
                <key>sourceSize</key>
                <string>{391,27}</string>
            </dict>
            <key>slice46_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,511},{64,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,126}}</string>
                <key>sourceSize</key>
                <string>{64,126}</string>
            </dict>
            <key>slice47_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,80}}</string>
                <key>sourceSize</key>
                <string>{448,80}</string>
            </dict>
            <key>slice48_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{161,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,162}}</string>
                <key>sourceSize</key>
                <string>{161,162}</string>
            </dict>
            <key>slice49_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,309},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>slice50_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,405},{126,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,104}}</string>
                <key>sourceSize</key>
                <string>{126,104}</string>
            </dict>
            <key>slice51_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,571},{94,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,104}}</string>
                <key>sourceSize</key>
                <string>{94,104}</string>
            </dict>
            <key>slice52_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,703},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>button.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfb00470b282eb9092620a1a3a48b41f$</string>
            <key>textureFileName</key>
            <string>button.png</string>
        </dict>
    </dict>
</plist>
