<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slice01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{163,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,99}}</string>
                <key>sourceSize</key>
                <string>{163,99}</string>
            </dict>
            <key>slice06_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{86,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,56}}</string>
                <key>sourceSize</key>
                <string>{86,56}</string>
            </dict>
            <key>slice16_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{358,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,117}}</string>
                <key>sourceSize</key>
                <string>{358,117}</string>
            </dict>
            <key>slice17_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{358,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,117}}</string>
                <key>sourceSize</key>
                <string>{358,117}</string>
            </dict>
            <key>slice20_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,117}}</string>
                <key>sourceSize</key>
                <string>{368,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02ef7cfd4a9f3fc1b0f08870f1ccb34b$</string>
            <key>textureFileName</key>
            <string>room2.png</string>
        </dict>
    </dict>
</plist>
